.member-card {
    border: 2px solid #ddd; /* Bordo della carta */
    border-radius: 8px; /* Bordi arrotondati */
    padding: 20px; /* Spaziatura interna */
    margin-bottom: 20px; /* Margine inferiore */
    width: 300px; /* Imposta la larghezza desiderata per le card */
    margin: 20px; /* Aggiunge un margine tra le card */
  }
  
  .member-card h3 {
    margin-bottom: 8px; /* Spaziatura inferiore per il nome */
  }
  
  .member-card .role {
    font-style: italic; /* Testo in corsivo per il ruolo */
    color: #666; /* Colore del testo per il ruolo */
  }
  
  .member-card .description {
    margin-top: 12px; /* Spaziatura superiore per la descrizione */
  }
  .member-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
   
  .member-card img {
    max-width: 100%; /* Imposta la larghezza massima dell'immagine al 100% della larghezza della card */
    height: auto; /* Imposta l'altezza dell'immagine in modo automatico per mantenere le proporzioni */
  }